<!-- Navigation -->
        <nav class="navbar" aria-label="Main navigation">
            <ul>
                <li><a href="index-en.html">Home</a></li>
                <li><a href="blog-en.html">Blog</a></li>
                <li><a href="cvitae.html">Curriculum Vitae</a></li>
                <li><a href="mailto:info@example.com">Contact via Email</a></li>
                <li><a href="photography.html">Photography</a></li>
                <li><a href="travel-reports.html">Travel Reports</a></li>
                <li><a href="github-en.html">GitHub</a></li>
                <li><a href="game-en.html">Game</a></li>
            </ul>
        </nav>

        <!-- Darkmode -->
        <div class="controls">
            <button type="button" id="theme-toggle">
                <span class="visually-hidden">Toggle Dark Mode</span>
            </button>

            <!-- Sprachauswahl -->
            <label for="language-select" class="visually-hidden">
                Choose Language
            </label>
            <select id="language-select">
            </select>
        </div>