        <!-- Navigation -->
         <!-- (ich möchte meine echte E-Mail-Adresse nicht als Kontakt öffentlich angeben, daher Platzhalter) -->
        <nav class="navbar" aria-label="Hauptnavigation">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="lebenslauf.html">Lebenslauf</a></li>
                <li><a href="mailto:info@example.com">Kontakt per E-Mail</a></li>
                <li><a href="fotografien.html">Fotografien</a></li>
                <li><a href="reiseberichte.html">Reiseberichte</a></li>
                <li><a href="github.html">GitHub</a></li>
                <li><a href="game.html">Game</a></li>
            </ul>
        </nav>

        <!-- Darkmode -->
        <div class="controls">
            <button type="button" id="theme-toggle">
                <span class="visually-hidden">Darkmode umschalten</span>
            </button>

            <!-- Sprachauswahl -->
            <label for="language-select" class="visually-hidden">
                Sprache auswählen
            </label>
            <select id="language-select">
            </select>
        </div>